body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: url(https://picsum.photos/seed/picsum/1200/600) no-repeat center center fixed;
  background-size: cover;
}


.cloud,
.cloud:before,
.cloud:after {
  position: absolute;
  width: 70px;
  height: 30px;
  background: #d5e7f3;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

.cloud {
  top: 100px;
  animation: cloud 30s infinite linear;
}

@keyframes cloud {

  0% {
    left: -10%;
  }

  100% {
    opacity: 0;
    left: 101%;
  }
}

.cloud:before {
  content: '';
  left: 50px;
}

.cloud:after {
  content: '';
  left: 25px;
  top: -10px;
}


.welcome,
.welcome404 {
  text-align: center;
}

nav {
  height: 30px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 40%, rgba(0, 212, 255, 0.1) 80%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .links,
.visits {
  display: flex;
  justify-content: end;
  align-items: center;
}

nav a {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-decoration: none;
}

nav a:hover {
  color: #7852ff;
  transform: scale(1.1);
}


.sigthsScroll {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.card,
.searchForm,
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 20px;
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 212, 255, 0.1) 60%);
  border-radius: 20px;
  padding: 20px;
}

.error {
  position: absolute;
  width: 150px;
  height: 100px;
  margin: 20px;
  background: linear-gradient(180deg, rgba(255, 21, 21, 0.3) 40%, rgba(255, 30, 30, 0.5) 60%);
  animation: shrink 10s forwards;
  z-index: 1;
}

.error p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  margin: 10px 0;
  padding: 0;
}

.card img {
  border-radius: 20px;
}


.sigthsScroll .card {
  margin: 0px;
  width: 500px;
  height: 400px;
}

.catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 90vh;
  width: 100%;
  overflow: auto;
  padding: 10px;
}


@keyframes shrink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(3px);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 300px;
  background: rgba(130, 130, 130, .3);
  padding: 20px 22px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, .4);
  box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.5);
}

.registration {
  height: 400px;
}

.addSigth {
  width: 400px;
  height: 700px;
  margin-bottom: 30px;
}

form input,
form button {
  display: flex;
  align-self: center;
  width: 250px;
  border: 1px solid;
  border-color: rgba(80, 80, 80, .45);
  padding: 12px 20px 12px 8px;
  font: bold .875em/1.25em "Open Sans Condensed", sans-serif;
  letter-spacing: .075em;
  color: #225556;
  margin-bottom: 30px;
  word-wrap: break-word;
}

form input:focus {
  background-color: rgba(130, 130, 130, .3);
}

form input.email {
  background-position: 220px 10px;
}

form input.pass {
  background-position: 223px 8px
}

::-webkit-input-placeholder {
  color: #ccc;
  text-transform: uppercase;
}

::-moz-placeholder {
  color: #ccc;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  color: #ccc;
  text-transform: uppercase;
}

form button[type=submit],
button {
  width: 248px;
  margin-top: 5px;
  justify-content: center;
  margin-bottom: 0;
  color: #3f898a;
  text-transform: uppercase;
  background: #225556;
  border-color: #9fb5b5;
  cursor: pointer;
}


/*======================
    404 page
=======================*/
.welcome404 h1 {
  text-shadow: 0px 15px rgba(231, 96, 96, 0.281);
  font-size: 50px;
}

.image404 {
  transform: scaleX(1);
  bottom: 0;
  position: absolute;
  z-index: -1;
  height: 400px;
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 7px;

}

footer div {
  padding-left: 20px;
  padding-right: 20px;
  color: wheat;
}

.fa {
  text-align: center;
  color: wheat;
  padding-left: 10px;
  text-decoration: none;
  border-radius: 50%;
}