.details {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: 750px;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 212, 255, 0.1) 60%);
    border-radius: 20px;
    margin-top: 5px;
    padding: 20px;
    box-sizing: border-box;
}


h1 {
    align-self: center;
}

p {
    width: 100%;
    overflow-wrap: break-word;
    text-align: justify;
    margin-top: 10px;

}


.visits {
    padding: 0;
    margin: 0;
}
.containerDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 40px;
}

.buttonPair {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 10px;
}

.buttonPair button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
}

.card img {
    border-radius: 20px;
    align-self: center;
}

.centerForm {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.checkWeather {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    width: 600px;
    height: 750px;

}


.weatherIcon {
    position: absolute;
    display: flex;
    top: 10%;
    align-self: flex-end;
    font-size: 300px;
    z-index: -1;
    opacity: 0.6;
}

.disabledLink {
    pointer-events: none;
    background-color: rgb(83, 83, 83);
    color: rgb(0, 0, 0);
    text-decoration: none;
}